a.nounderline {
    text-decoration: none;
    color:rgb(8, 8, 8);
    padding: 15px;
    text-align: left;
}
#back{
	text-shadow: 0 -1px rgba(253, 253, 253, 0.918);
	font-size: 28px;
	line-height: 40px;
	background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/8f46196d-8fd8-474c-a14c-4bdd45ec224c/d7kzomj-032f7944-7f8b-422f-a0b2-66e6170f286e.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzhmNDYxOTZkLThmZDgtNDc0Yy1hMTRjLTRiZGQ0NWVjMjI0Y1wvZDdrem9tai0wMzJmNzk0NC03ZjhiLTQyMmYtYTBiMi02NmU2MTcwZjI4NmUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.tADwsOhPkdlVv9Y0L1onhxhiDGpYtZ1GVF3fSzbZr8s);
    width: 380px;
    height: auto;
	border: 1px solid #fff;
	padding: 5px 15px;
}
.fill {
    display: flex;
    overflow: hidden
    
    background-position: center;
    background-size: cover;
}
h1{
    color: darkorchid;
    background-color: black;
}
form{
    background-color: olive;
}
.field_set{
    border-color:rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0);
}
fieldset{
    border-color: darkorange;
    background-color: olive;
}
.entete{
    color: rgb(184, 8, 184);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 5vw);
    grid-gap: 50px;
}
div.gallery {
    margin: 5px;
    border: 1px solid rgba(96, 28, 128, 0.541);
    float: left;
    width: 390px;
}
  
  div.gallery:hover {
    border: 3px solid rgba(51, 255, 51, 0.603);
}
  
  div.gallery img {
    width: 60%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}

/* Background */
.overflow{
    height:100px;
    width:200px;
    overflow:hidden;
}
img{
    height:100%;
    width:100%;
    object-fit: contain;
}
html, body {
    width: 100%;
    height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}