/* Comms */
h1,h3{
    background-color: rgba(189, 119, 255, 0.753);
}
a{
    color: rgb(255, 0, 0);
}
p{
    background-color: rgba(15, 179, 255, 0.548);
}
ul{
    background-color: orangered;

}
li{
    color: mediumblue;
}
h1{
    color: darkturquoise;
}
